<h3>URL</h3>
<div style="padding:20px;">
    <form action="/result" method="POST">
        <input type="text" id="urlInput" name="url" placeholder="Enter URL">
        <button type="submit" class="btn btn-success">Scan nmap</button>
    </form>
</div>
